/* Global Styles */
* {
     font-family: "Montserrat", sans-serif;
     font-weight: 500;
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

*::-webkit-scrollbar {
     width: 0;
}

#logo {
     width: 60px;
     height: 60px;
     border-radius: 16px;

}

#quiz {
     width: 400px;
}