/* General Section Styles */
section {
     padding-top: 80px;
     padding-bottom: 80px;
}

/* Link Styles */
.black-link {
     color: black;
     padding: 4px 10px;
     text-decoration: none;
}

.black-link:hover {
     color: green;
}

/* Heading Styles */
h1 {
     color: #004A9B;
}

.nav-icon {
     transition: 0.3s;
}


#mail-text:hover {
     text-decoration: underline;
}

.swiper {
     width: 70%;
     height: 600px;
}
